<!-- Header -->
<header class="text-center py-5 mb-4">

  </header>
<div class="container">
    <div class="row" *ngIf="dataLoaded">
      <div *ngFor="let product of products" class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img [src]="product.imgUrl" height="200" width="150"  class="card-img-top" alt="...">
          <span>
            {{call()}}
          <div class="card-body text-center">
            <h5 class="card-title  mb-0">{{product.productName}}</h5>
            <h5 class="card-title mb-0 text-danger">${{product.bids.length == 0 ? "0":getHighestBid(product.bids).bidAmount}}</h5>
            <span class="text-danger" >
              {{timerValue(product.expiryDate)}}
              <countdown [config]="{ leftTime: 5, template: '$!h!h $!m!m $!s!s' }">
            </countdown> </span>
            <div class="card-text text-black-50">{{product.productDescription |  slice:0:150}}...</div>
            <a [routerLink]="['/product',product.productId]"><button class="btn btn-info">Bid Now!</button></a>
        </div>
        </span>
        </div>
      </div>
    <!-- /.row -->
    </div>
  </div>