<!-- Header -->
<header class="text-center py-5 mb-4">

  </header>
<div class="container">
    <div class="row">
    
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/TMgQMXoglsM/500x350"  class="card-img-top" alt="...">
          <span>
          <div class="card-body text-center">
            <h5 class="card-title  mb-0">Cool little vase</h5>
            <h5 class="card-title mb-0 text-danger">$300(76 hrs left)</h5>
            <div class="card-text text-black-50">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            <button class="btn btn-info">Bid Now!</button>
        </div>
        </span>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/TMgQMXoglsM/500x350"  class="card-img-top" alt="...">
          <span>
          <div class="card-body text-center">
            <h5 class="card-title  mb-0">Cool little vase</h5>
            <h5 class="card-title mb-0 text-danger">$300(76 hrs left)</h5>
            <div class="card-text text-black-50">Lorem Ipsum is simply dummy sum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            <button class="btn btn-info">Bid Now!</button>
        </div>
        </span>
        </div>
      </div>
    <!-- /.row -->
  
  </div>