<!-- Page Content -->
<div class="container">
  <div  *ngIf="product != null">
    <div class="row">
          <div class="col-md-8">
            <img class="img-fluid" [src]="product.imgUrl" width="550" height="350" alt="">
          </div>
          <div class="col-md-4">
            <h3 class="my-3">{{product.productName}}</h3>
            <span>Time Left:<span class="text-danger">$500</span></span>
            <br>
            <span>Highest Bid:<span class="text-success">${{product.bids.length == 0 ? "0":getHighestBid(product.bids).bidAmount}}</span></span>
            <h5>Produc Description</h5>
            <p>{{product.productDescription}}</p>
            <form [formGroup]="bidForm" (ngSubmit)="submitBid()">
            <input type="number" formControlName="bidAmount" class="form-control">
            <button type="submit" class="btn btn-info w-100">Submit Bid</button>
            
            <div *ngIf="bidAmount.invalid && (bidAmount.dirty || bidAmount.touched)"
            class="alert alert-danger">

              <div *ngIf="bidAmount.errors.required">
                Amount is required.
              </div>
              <div *ngIf="bidAmount.errors.min">
               Amount can't be less than 0
              </div>
            </div>
            <div *ngIf="error"  class="alert alert-danger">
              {{error}}
            </div>
            <div *ngIf="success"  class="success alert-success">
              {{success}}
            </div>

          </form>
          </div>
    </div>
    <br>
    <div class="row">
        <table class="table" style="width:100%">
            <tr>
              <th>Bid Date</th>
              <th>Bid Amount</th>
            </tr>
            <tr *ngFor="let bid of product.bids">
              <td>{{convertToLocalTime(bid.bidDate) | date:'medium'}}</td>
              <td>${{bid.bidAmount}}</td>
            </tr>
          </table>
    </div>
  </div>
  </div>