<!-- Page Content -->
<div class="container">
    <div class="row">
          <div class="col-md-8">
            <img class="img-fluid" src="http://placehold.it/750x500" alt="">
          </div>
          <div class="col-md-4">
            <h3 class="my-3">Project Name</h3>
            <span>Time Left:<span class="text-danger">$500</span></span>
            <br>
            <span>Highest Bid:<span class="text-success">$500</span></span>
            <h5>Produc Description</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <input type="number" class="form-control">
            <button type="button" class="btn btn-info w-100">Submit Bid</button>
          </div>
    </div>
    <br>

    <div class="row">
        <table class="table" style="width:100%">
            <tr>
              <th>Bid Date</th>
              <th>Bid Amount</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
            </tr>
          </table>
    </div>

  </div>