<!-- Page Content -->
<div class="container">
  <div  *ngIf="product != null">
    <div class="row" *ngIf="product">
          <div class="col-md-8">
            <img class="img-fluid" [src]="product.imgUrl|unchacheDate" width="550" height="350" alt="">
          </div>
          <div class="col-md-4">
            <h3 class="my-3">{{product.productName}}</h3>
            <span>Time Left:<span class="text-danger">  <span>
              <countdown [config]="{leftTime: product.expiryDate | timerValue, template: '$!d!d $!h!h $!m!m $!s!s'}"  (finished)="timerFinished()"></countdown>
            </span></span></span>
            <br>
            <span>Highest Bid:<span class="text-success">${{product.bids.length == 0 ? "0":(product.bids| highestBid).bidAmount}}</span></span>
            <h5>Produc Description</h5>
            <p>{{product.productDescription}}</p>
            <form *ngIf="(product.expiryDate | timerValue) >=0" [formGroup]="bidForm" (ngSubmit)="submitBid()">
            <input type="number" formControlName="bidAmount" class="form-control">
            <button [disabled]="disabled" type="submit" class="btn btn-info w-100">Submit Bid</button>
            
            <div *ngIf="bidForm.invalid && (bidAmount.dirty || bidAmount.touched)"
            class="alert alert-danger">

              <div *ngIf="bidAmount.errors.required">
                Amount is required.
              </div>
              <div *ngIf="bidAmount.errors.min">
               Amount can't be less than 0
              </div>
            </div>
            <div *ngIf="error"  class="alert alert-danger">
              {{error}}
            </div>
            <div *ngIf="success"  class="success alert-success">
              {{success}}
            </div>
          </form>
          <div *ngIf="product.status == 1">
              <h3 class="text-success">Winner of the auction is:{{product.bids.length == 0 ? "0":(product.bids| highestBid).user.username}}</h3>
          </div>

          </div>
    </div>
    <br>
    <div class="row" *ngIf="product.status != 1">
        <table class="table" style="width:100%">
            <tr>
              <th>Bidder</th>
              <th>Bid Date</th>
              <th>Bid Amount</th>
            </tr>
            <tr *ngFor="let bid of product.bids">
              <td>{{bid.user.username}}</td>
              <td>{{bid.bidDate | toLocalTime | date:'medium'}}</td>
              <td>${{bid.bidAmount}}</td>
            </tr>
          </table>
    </div>
  </div>
  </div>