<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Scopic Test Task-{{user.username}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div  *ngIf="user == null; else userExists">
    </div>

    <ng-template #userExists>
      <div *ngIf="user != null  && user.role == 'Admin'" class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
    
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#" (click)="logout()">Logout</a>
          </li>
    
        </ul>
      </div>
      <div *ngIf="user != null  && user.role == 'User'" class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
    
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#" (click)="logout()">Logout</a>
          </li>
    
        </ul>
      </div>
    </ng-template>
    
  </nav>
  